<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'posts:category_list' 'free' %}">자유게시판</a>
    <a href="{% url 'posts:category_list' 'freshman' %}">새내기게시판</a>
    <a href="{% url 'posts:category_list' 'secret' %}">비밀게시판</a>
    <br><br>
    {% if request.user.is_authenticated %}
        nickname : {{request.user.nickname}}
        <br><br>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
        <hr><br>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a><hr><br>
    {% endif %}

    {% for category in categories %}
        <h2><a href="{% url 'posts:category_list' category.slug %}">{{ category.name }}</a></h2>
        {% for post in category.latest_posts %}
            <h3><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></h3>
        {% empty %}
            <p>작성된 글이 없습니다.</p>
        {% endfor %}
    {% empty %} 카테고리가 없습니다. {% endfor %}
</body>
</html>