<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'phone:result' %}" method="GET">
        <input type="text" name="keyword" required>
        <button type="submit">검색</button><hr>
    </form>
    {% for phone in phones %}
        <h2>이름: {{ phone.name }}</h2>
        <p>전화번호: {{ phone.phone_num }}</p><hr>
    {% empty %}
        등록된 전화번호가 없습니다.
    {% endfor %}
</body>
</html>