<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>연락처</h1>
    <form action="{% url 'phone:result' %}" method="GET">
        <input type="text" name="keyword" required>
        <button type="submit">검색</button><hr>
    </form>
    
    {% for phone in phones %}
        <p><a href="{% url 'phone:detail' phone.id %}">{{ phone.name }}</a> {{ phone.phone_num }}
            <a href="{% url 'phone:update' phone.id %}">수정</a>
            <a href="{% url 'phone:delete' phone.id %}">삭제</a>
        </p>
        <hr>
    {% empty %}
        등록된 전화번호가 없습니다.
    {% endfor %}<br>
    <a href="{% url 'phone:create' %}">새 번호 등록</a>
</body>
</html>